language: go
dist: xenial
env:
  - GO111MODULE=on

go:
  - "1.12.x"

script:
  - ./build.sh

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  skip_cleanup: true
  file_glob: true
  file: "dist/*"
  on:
    tags: true

notifications:
  email:
    on_success: never
